export POSTGRES_URL="postgresql://usesrname:password@localhost/torspider"
export SOCKS_PROXY=socks5://localhost:9050
export SENTRY_DSN=https://token@sentry.io/123456

export REDDIT_CLIENT_ID=redditclientid
exprot REDDIT_CLIENT_SECRET=redditlientsecret
export REDDIT_USERNAME=reddituser
export REDDIT_PASSWORD=redditpassword

layout python3
